
{{#partial "header"}}Welcome to {{department.name}} Department{{/partial}}


<hr class="mt-2 mb-5">
    {{#partial "content"}}
        <div class="jumbotron">
    <p>Here are all the sections in this Department:</p>

    <ul  class="list-group">
        {{#if sections}}
        {{#each sections}}
            <li name="/sections/{{id}}" class="list-group-item list-group-item-success">
                <a href="/departments/{{department.id}}/sections/{{department.id}}">{{description}} section. Click to see staff information</a>
            </li>
        {{/each}}
        {{else}}
            <p>No section</p>
        {{/if}}
    </ul>
</div>

{{/partial}}

{{> layout.hbs}}