{{#partial "content"}}

    <h5 class="h5 text-success">Here departments </h5>
    <hr class="mt-2 mb-5">
    {{#if departments}}

            <div class="row text-center text-lg-left">
            {{#each departments}}
            <div class="col-lg-3 col-md-4 col-6" name="/departments/{{id}}"><a href="/departments/{{id}}" name="/departments/{{id}}">{{name}}</a>
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="images/einst.jpg" alt="">
                </a>
    </div>
            {{/each}}
    {{else}}
            <p>There are no sections yet</p>
    </div>
    {{/if}}
{{/partial}}

{{> layout.hbs}}
