{{#partial "header"}}
    Welcome to {{sections.description}}  in {{categories.name}}
{{/partial}}
{{#partial "content"}}

    {{#if staff}}
        <ul  class="list-group">

        {{#each staff }}
            <li class="list-group-item list-group-item-light">{{firstname}} {{lastname}},  {{ekNo}}   {{role}}
            </li>
        {{/each}}
        </ul>
    {{else}}
        <p>No employees</p>
    {{/if}}
    <p>Don't see any employee?<a href="/staff/new">Add a new one first.</a></p>



{{/partial}}

{{> layout.hbs}}